<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Мои бронирования</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <link type=" text/css" rel="stylesheet" href="{{url_for('static', filename='url.css')}}">
</head>

<body>
    <br> <p style="font-size: xx-large" align="center"> Мои бронирования </p> <br>
    <div class="container">
        <div class="row" align="center">
            <form method="POST" action="">
                <button style="border-color: lightgray" name="type" value="1">
                    <span style="font-size: large"> Прошлые </span> <br>
                </button>
                <button style="border-color: lightgray" name="type" value="2">
                    <span style="font-size: large"> Текущие </span> <br>
                </button>
            </form>
        </div>
    </div>
    <br>
    {% import 'profile_ticket.html' as tickets %}
    {% if items %}
        {% for item in items %}
            {{ tickets.render_ticket(item) }}
        {% endfor %}
    {% endif %}
    <div align="center" style="font-size: 18pt">
        {{error}}
    </div>
    <div align="center">
        <br>
        <a href="{{url_for('bp_account.account')}}"> Вернуться в личный кабинет </a>
    </div>
    <br>
</body>
</html>