{% macro render_ticket(item) %}

    <div class="container">
        <div class="row justify-content-md-center" align="center">
            <div class="col-sm-4" style="background: #ecf0f1; border-color: darkgrey; border-right-color: #ecf0f1; border-bottom-color: #ecf0f1; border-style: solid">
                <br>
                <span style="font-size: x-large"> Бронь #{{item['t_id']}} </span>
            </div>
            <div class="col-sm-2" style="background: #ecf0f1; border-color: darkgrey; border-right-color: #ecf0f1; border-bottom-color: #ecf0f1; border-left-color: #ecf0f1; border-style: solid">
                <br>
                <span style="font-size: x-large"> {{item['class']}} </span>
            </div>
            <div class="col-sm-4" style="background: #ecf0f1; border-color: darkgrey; border-bottom-color: #ecf0f1; border-left-color: #ecf0f1; border-style: solid">
                <span style="font-size: large"> Дата полета: </span>
                <br>
                <span style="font-size: x-large"> {{item['date']}} </span>
                <br> <br>
            </div>
        </div>
        <div class="row justify-content-md-center" align="center">
            <div class="col-sm-2" style="background: #ecf0f1; border-color: darkgrey; border-right-color: #ecf0f1; border-style: solid">
                <br> <br>
                <span style="font-size: x-large"> {{item['dep']}} </span>
                <br> <br>
            </div>
            <div class="col-sm-2" style="background: #ecf0f1; border-color: darkgrey; border-left-color: #ecf0f1; border-right-color: #ecf0f1; border-style: solid">
                <br> <br>
                <span style="font-size: large"> ---------------> </span>
                <br> <br>
            </div>
            <div class="col-sm-2" style="background: #ecf0f1; border-color: darkgrey; border-left-color: #ecf0f1; border-right-color: #ecf0f1; border-style: solid">
                <br> <br>
                <span style="font-size: x-large"> {{item['arr']}} </span>
                <br> <br>
            </div>
            <div class="col-sm-4" style="background-color: whitesmoke; border-color: darkgrey; border-style: solid">
                <br>
                <span style="font-size: x-large"> {{item['base_price']}}Р </span>
                <span style="font-size: x-large; color: forestgreen"> / +{{item['bonus_add']}}М </span>
                <br>
                <span style="font-size: medium;"> (оплачено рублями - {{item['price']}}Р) </span>
                <br>
                <span style="font-size: medium; color: forestgreen"> (оплачено милями - {{item['wasted']}}М) </span>
                <br> <br>
            </div>
        </div>
    </div>
<br>

{% endmacro %}