<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Личный кабинет</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <link type=" text/css" rel="stylesheet" href="{{url_for('static', filename='url.css')}}">
</head>

<body>
    <br> <p style="font-size: xx-large" align="center"> Личный кабинет </p> <br><br>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p style="font-size: x-large; font-weight: bold"> {{input['p_name']}}   {{input['p_surname']}} </p>
                <p style="font-size: large; color: forestgreen; font-weight: bold"> ID: {{input['p_id']}}</p>
                <p style="font-size: large; color: forestgreen; font-weight: bold"> Статус: {{input['s_name']}} </p>
                <p style="font-size: large; color: forestgreen; font-weight: bold"> Статусный коэффициент: {{input['coefficient']}} </p>
            </div>
            <div class="col-sm-4">
                <p style="font-size: xx-large; color: forestgreen; font-weight: bold" align="center"> {{input['balance']}}М </p>
                <p style="font-size: medium; color: darkslategrey" align="center"> бонусных миль </p>
                <p style="font-size: large" align="center"> До следующего уровня лояльности осталось: </p>
                <p style="font-size: x-large; color: forestgreen; font-weight: bold" align="center"> {{input['remaining']}} </p>
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row" align="center">
            <div class="col-sm-2" align="center">
                <a href="{{url_for('bp_account.tickets')}}" style="font-size: 12pt; link:text_dect"> Мои бронирования </a>
            </div>
            <div class="col-sm-2" align="center"    >
                <a href="" style="font-size: 12pt"> </a>
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row" style="background: #ecf0f1; border-block-style: solid; border-color: #bdc3c7">
            <p style="font-size: x-large"> Персональные данные </p>
            <div class="col">
                <span style="font-size: medium; color: dimgrey"> Дата рождения:</span>
                <span style="font-size: large"> {{input['birthday']}} </span>
            </div>
            <div class="col">
                <span style="font-size: medium; color: dimgrey"> Пол:</span>
                <span style="font-size: large"> {{input['p_sex']}} </span>
            </div>
        </div>
        <br>
        <div class="row" style="background: #ecf0f1; border-block-style: solid; border-color: #bdc3c7">
            <p style="font-size: x-large"> Контакты </p>
            <div class="col">
                <div>
                    <span style="font-size: medium; color: dimgrey"> E-mail:</span>
                    <span style="font-size: large"> {{input['email']}} </span>
                </div>
            </div>
            <div class="col">
                <span style="font-size: medium; color: dimgrey"> Телефон:</span>
                <span style="font-size: large"> {{input['phone']}} </span>
            </div>
        </div>
    </div>
    <br><br>
    <div align="center">
        <a href="{{url_for('menu_choice')}}"> Вернуться на главную </a>
    </div>
</body>
</html>