<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Бронирование</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <link type=" text/css" rel="stylesheet" href="{{url_for('static', filename='url.css')}}">
</head>

<body>
    <br> <p style="font-size: xx-large" align="center"> Бронирование авиабилетов </p> <br>
    <datalist id="place">
        <option value="Москва"></option>
        <option value="Иркутск"></option>
        <option value="Самара"></option>
        <option value="Владивосток"></option>
        <option value="Новосибирск"></option>
        <option value="Красноярск"></option>
    </datalist>
    <div class="container">
        <div class="row" align="center">
            <form method="POST" action="">
                <label for="in_dep"></label>
                <input type="text" id="in_dep" name="in_dep" placeholder="Откуда" list="place" required>
                <label for="in_arr"></label>
                <input type="text" id="in_arr" name="in_arr" placeholder="Куда" list="place" required>
                <label for="in_date"></label>
                <input type="date" id="in_date" name="in_date" placeholder="Когда" min="{{min}}" max="2024-01-01" required>
                <input type="submit" class="submit" value="&#128269" style="background-color: greenyellow; border-color: lightgray">
            </form>
        </div>
    </div>
    {% if dep %}
    <br>
    <div align="center" style="font-size: x-large; font-weight: bold">
        {{dep}} - {{arr}}, {{date}}
    </div>
    {% endif %}
    <br>
    {% import 'booking_ticket.html' as tickets %}
    {% if items %}
        {% for item in items %}
        <form action="" method="post">
            {{ tickets.render_ticket(item) }}
            <input type="hidden" name="item" value="{{item}}">
        </form>
        {% endfor %}
    {% endif %}
    <div align="center" style="color: red; font-size: 18pt">
        {{error}}
    </div>
    <div align="center">
        <br>
        <a href="{{url_for('menu_choice')}}"> Вернуться на главную </a>
    </div>
</body>
</html>