{% macro render_ticket(item) %}

<div class="container">
    <div class="row justify-content-md-center" align="center">
        <div class="col-sm-2" style="background: #ecf0f1; border-color: darkgrey; border-right-color: #ecf0f1; border-style: solid">
            <br>
            <span style="font-size: x-large"> {{item['dep_time']}} </span>
            <p style="font-size: medium; color: darkgrey"> {{item['dep_date']}}</p>
        </div>
        <div class="col-sm-2" style="background: #ecf0f1; border-color: darkgrey; border-left-color: #ecf0f1; border-right-color: #ecf0f1; border-style: solid">
            <br>
            <span style="font-size: medium"> ---------------> </span>
            <p style="font-size: medium; color: darkgrey"> в пути {{item['period']}}</p>
        </div>
        <div class="col-sm-2" style="background: #ecf0f1; border-color: darkgrey; border-left-color: #ecf0f1; border-right-color: #ecf0f1; border-style: solid">
            <br>
            <span style="font-size: x-large"> {{item['arr_time']}} </span>
            <p style="font-size: medium; color: darkgrey"> {{item['arr_date']}}</p>
        </div>
        <button class="col-sm-2" style="border-color: darkgrey" name="eco" value="eco">
            <span style="font-size: large"> Эконом </span> <br>
            <span style="font-size: x-large"> {{item['eco_price']}}Р </span>
            <span style="font-size: x-large; color: forestgreen"> / +{{item['eco_bonus']}}М</span>
        </button>
        <button class="col-sm-2" style="border-color: darkgrey" name="bus" value="bus">
            <span style="font-size: large"> Бизнес </span> <br>
            <span style="font-size: x-large"> {{item['bus_price']}}Р </span>
            <span style="font-size: x-large; color: forestgreen"> / +{{item['bus_bonus']}}М</span>
        </button>
    </div>
</div>
<br>

{% endmacro %}