<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Оплата</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <link type=" text/css" rel="stylesheet" href="{{url_for('static', filename='url.css')}}">
</head>

<body>
    <br> <p style="font-size: xx-large" align="center"> Оплата </p> <br>
    <div class="container" align="center">
        <div class="row">
            <div class="col sm-4" style="font-size: x-large; font-weight: bold"> Вы выбрали </div>
            <div class="col" style="font-size: x-large"></div>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row justify-content-md-center" align="center">
            <div class="col-sm-2" style="background: #ecf0f1; border-color: darkgrey; border-right-color: #ecf0f1; border-style: solid">
                <br>
                <span style="font-size: x-large"> {{item['dep_time']}} </span>
                <p style="font-size: medium; color: darkgrey"> {{item['dep_date']}}</p>
            </div>
            <div class="col-sm-2" style="background: #ecf0f1; border-color: darkgrey; border-left-color: #ecf0f1; border-right-color: #ecf0f1; border-style: solid">
                <br>
                <span style="font-size: medium"> ---------------> </span>
                <p style="font-size: medium; color: darkgrey"> в пути {{item['period']}}</p>
            </div>
            <div class="col-sm-2" style="background: #ecf0f1; border-color: darkgrey; border-left-color: #ecf0f1; border-right-color: #ecf0f1; border-style: solid">
                <br>
                <span style="font-size: x-large"> {{item['arr_time']}} </span>
                <p style="font-size: medium; color: darkgrey"> {{item['arr_date']}}</p>
            </div>
            {% if item['ticket_type'] == 'Эконом' %}
            <div class="col-sm-2" style="background-color: whitesmoke; border-color: darkgrey; border-style: solid">
                <br>
                <span style="font-size: large"> Эконом </span> <br>
                <span style="font-size: x-large"> {{item['eco_price']}}Р </span>
                <span style="font-size: x-large; color: forestgreen"> / +{{item['eco_bonus']}}М </span>
            </div>
            {% endif %}
            {% if item['ticket_type'] == 'Бизнес' %}
            <div class="col-sm-2" style="background-color: whitesmoke; border-color: darkgrey; border-style: solid">
                <br>
                <span style="font-size: large"> Бизнес </span> <br>
                <span style="font-size: x-large"> {{item['bus_price']}}Р </span>
                <span style="font-size: x-large; color: forestgreen"> / +{{item['bus_bonus']}}М </span>
            </div>
            {% endif %}
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row" align="center">
            <div class="col-sm-6">
                <p style="font-size: large; font-weight: bold" align="center"> Ваш баланс: </p>
                <div align="center">
                    <span style="font-size: x-large; color: forestgreen; font-weight: bold"> {{item['balance']}}М </span>
                    <br> <br>
                </div>
                <p style="font-size: large;"> Вы можете оплатить до 50% заказа милями (2М = 1Р) </p>
            </div>
            <div class="col-sm-2"></div>
            <div class="col-md-4 text-center">
                <p style="font-size: large; font-weight: bold"> Оплатить милями: </p>
                <form action="" method="post" id="num">
                    <label>
                        <input type="number" min="0" max="{{limit1}}" width="5" name="in_bonus">
                    </label>
                    <span style="font-size: large; color: forestgreen"> / {{limit1}}М  ({{limit2}}Р)</span>
                </form>
                <br>
                <button form="num" style="border-color: darkgrey; font-size: large"> Оплатить </button>
                <div align="center" style="color: red; font-size: 18pt">
                    {{error}}
                </div>
            </div>
        </div>
    </div>
    <div align="center">
        <br>
        <a href="{{url_for('bp_booking.booking')}}"> Вернуться к поиску </a>
    </div>
</body>
</html>