<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Оплачено</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <link type=" text/css" rel="stylesheet" href="{{url_for('static', filename='url.css')}}">
</head>

<body>
    <br>
    <p style="font-size: xx-large" align="center"> Бронирование #{{t_id}} успешно создано! </p>
    <br><br>
    <div class="container">
        <div class="row">
            <div class="col sm-4 text-center">
                <span style="font-size: large"> Общая стоимость:  </span>
            </div>
            <div class="col" style="font-size: x-large">
                <span style="font-size: x-large; font-weight: bold"> {{item['price']}}Р  </span>
            </div>
        </div>
        <div class="row">
            <div class="col sm-4 text-center">
                <span style="font-size: large"> Оплачено рублями:  </span>
            </div>
            <div class="col" style="font-size: x-large">
                <span style="font-size: x-large; font-weight: bold"> {{item['new_price']}}Р  </span>
            </div>
        </div>
        <div class="row">
            <div class="col sm-4 text-center">
                <span style="font-size: large"> Оплачено милями:  </span>
            </div>
            <div class="col" style="font-size: x-large">
                <span style="font-size: x-large; font-weight: bold"> {{item['in_bonus1']}}Р  </span>
                <span style="font-size: x-large; font-weight: bold; color: forestgreen"> ({{item['in_bonus2']}}М)  </span>
            </div>
        </div>
        <div class="row">
            <div class="col sm-4 text-center">
                <span style="font-size: large"> Начислено миль:  </span>
            </div>
            <div class="col" style="font-size: x-large">
                <span style="font-size: x-large; font-weight: bold; color: forestgreen"> {{item['f_bonus']}}М * {{item['coef']}} = {{item['overall']}}М  </span>
            </div>
        </div>
    </div>
    <div align="center">
        <br>
        <a href="{{url_for('menu_choice')}}"> Вернуться на главную </a>
    </div>
</body>
</html>