<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Форма отчета</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <link type=" text/css" rel="stylesheet" href="{{url_for('static', filename='url.css')}}">
</head>

<body>
    <br><br>
    <div align="center" style="font-size: x-large"> Отчет о суммарной стоимости билетов, проданных за месяц</div>
    <br>
    <div align = center>
        <form action="" method ="POST">
            <label for="month">Выберите месяц</label>
            <input type="month" id="month" name="month_num" required/>
            <br><br>
            <input type="submit" value ="Отправить">
        </form>
        <br>
        <div align="center" style="font-size: 18pt; color: red">
            {{error}}
        </div>
        <br><br>
        <a href={{url_for('bp_report.start_report')}}> Вернуться</a>
    </div>
</body>
</html>