<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Работа с отчетами </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <link type=" text/css" rel="stylesheet" href="{{url_for('static', filename='url.css')}}">
    <style type="text/css">
        .named_list {
            font-size: 14pt;
            color: black;
            display: inline-block;
            width: 700px;
            text-align: left;
        }
    </style>
</head>

<body>
    <br><br>
    <div align = center style="font-size: x-large"> Выберите отчет</div>
    <br><br><br>
    <div align="center">
        {% for report in report_list %}
        <form action='' method='POST'>
            <label class="named_list"> {{report['rep_name']}}</label>
            {% block report_director %}{% endblock %}
            {% block report_analyst %}{% endblock %}
            <input type="hidden" name="rep_id" value="{{report['rep_id']}}">
            <br><br>
        </form>
        {% endfor %}
        <br><br>
        <a href={{url_for('menu_choice')}}> Вернуться в меню </a>
    </div>
</body>
</html>