{% extends 'menu/menu_base.html' %}

{% block external_user %}
<div align=center style="font-size: x-large; font-weight: bold"> Клиент </div>
<br><br>
<div align = center>
    <a href={{url_for('bp_account.account')}}> Личный кабинет</a>
    <br><br>
    <a href={{url_for('bp_booking.booking')}}> Покупка билетов</a>
</div>
{% endblock %}