{% extends 'menu/menu_base.html' %}

{% block internal_user_director %}
<div align = center style="font-size: x-large; font-weight: bold"> Директор </div>
<br><br>
<div align = center>
    <a href={{url_for('bp_report.start_report')}}> Работа с отчетами</a>
</div>
{% endblock %}