{% extends 'menu/menu_base.html' %}

{% block internal_user_analyst %}
<div align=center style="font-size: x-large; font-weight: bold"> Аналитик </div>
<br><br>
<div align = center>
    <a href={{url_for('bp_query.pattern_selection')}}> Работа с запросами</a>
    <br><br>
    <a href={{url_for('bp_report.start_report')}}> Работа с отчетами</a>
</div>
{% endblock %}