<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Результат запроса</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <link type=" text/css" rel="stylesheet" href="{{url_for('static', filename='url.css')}}">
</head>

<body>
    <br><br>
    <div align="center" style="font-size: x-large"> Результат выполнения запроса </div> <br><br>
    <div align="center">
        <table border = 1 width = 80%>
        <tr>
            {% for column in schema %}
                <td class= border align="center">{{column}}</td>
            {% endfor %}
        </tr>
        {% for line in result %}
            <tr>
                {% for column in line %}
                    <td align = 'center'> {{column}} </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </table>
    </div>
    <br><br>
    <div align="center">
        <a href={{url_for('bp_query.pattern_selection')}}> Вернуться к выбору запроса</a>
    </div>
</body>
</html>