<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Выбор запроса</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <link type=" text/css" rel="stylesheet" href="{{url_for('static', filename='url.css')}}">
</head>

<body>
    <br><br>
    <div align = center style="font-size: x-large"> Выберите выполняемый запрос</div>
    <br><br><br>
    <div align = center>
        <a href={{url_for('bp_query.ticket_info')}}> Сведения о билетах</a>
        <br>
        Получить все сведения о билетах, проданных в конкретном месяце
        <br><br><br>
        <a href={{url_for('bp_query.ticket_price')}}> Стоимость билетов</a>
        <br>
        Получить общую стоимость билетов, купленных в каждый день конкретного месяца
        <br><br><br>
        <a href={{url_for('menu_choice')}}> Вернуться</a>
    </div>
</body>
</html>